<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.area-mapper">
<!-- 영화관 지역 관련 -->
	<!-- 전체 지역 조회 -->
	<!-- & 영화좌석 페이지 입장시 지역들 원소 호출 -->
	<select id="getAllAreaList" resultType="AreaVo">
		select * from tbl_area
		order by area_no asc
	</select>
	<!-- 지역추가 -->
	<insert id="movieAreaAdd">
		insert into tbl_area(area_no, area_name)
		values(seq_area_no.nextval, #{area_name})
	</insert>
	<!-- 지역수정 -->
	<update id="movieAreaModify">
		update tbl_area set
	 	area_name = #{area_name}
		where area_no = #{area_no}
	</update>
	<!-- 지역삭제 -->
	<delete id="movieAreaDelete">
		delete from tbl_area
		where area_no = #{area_no}
	</delete>
	
<!-- 영화관명  관련 -->
	<!-- 각지역 영화관 전체 조회 -->
	<select id="getAllAreaTheaterList" resultType="AreaTheaterVo">
		select * from tbl_area_theater
		where area_no = #{area_no}
		order by area_theater_no asc
	</select>
	<!-- 각지역의 영화관 추가 -->
	<insert id="areaTheaterAdd">
		insert into tbl_area_theater(area_no, area_theater_no, area_theater_name)
		values(#{area_no}, seq_area_theater_no.nextval, #{area_theater_name})
	</insert>
	<!-- 각지역의 영화관 수정 -->
	<update id="areaTheaterModify">
		update tbl_area_theater set
	 	area_theater_name = #{area_theater_name}
		where area_theater_no = #{area_theater_no}
	</update>
	<!--각지역의 영화관 삭제 -->
	<delete id="areaTheaterDelete">
		delete from tbl_area_theater
		where area_theater_no = #{area_theater_no}
	</delete>
<!-- 영화좌석페이지관련 -->
	<!-- 각지역 영화관 영화관좌석 조회 -->
	<select id="getAllTheaterSeatList" resultType="TheaterSeatVo">
		select * from tbl_theater_seat
		order by area_theater_no asc
	</select>
	<!-- 각지역 영화관 영화관좌석 등록 -->
	<insert id="areaTheaterSeatAdd">
		insert into tbl_area_theater(area_theater_no, theater_name, theater_seatNum)
		values(#{area_theater_no}, #{theater_name}, #{theater_seatNum})
	</insert>
</mapper>