<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.projectMovie01.schedule">
	
	<!-- 각 달력에서 누른 날짜기준으로 그 날 일정 추가하기 -->
	<insert id="addSchedule">
		insert into tbl_managerSchedule
			(managerSchedule_no, managerSchedule_year, managerSchedule_month, managerSchedule_date, managerSchedule_title, managerSchedule_content, managerSchedule_complete, managerSchedule_sysdate)
		values
			(seq_managerSchedule_no.nextval, #{managerSchedule_year}, #{managerSchedule_month}+1, #{managerSchedule_date}, #{managerSchedule_title}, #{managerSchedule_content}, #{managerSchedule_complete, jdbcType=VARCHAR}, sysdate)
	</insert>
	<!-- 등록된 스케줄 일정 오늘 날짜의 리스트 호출 -->
	<select id="todayScheduleList" resultType="ScheduleManagementVo">
		select * from tbl_managerSchedule
		where managerSchedule_year = #{managerSchedule_year}
		and managerSchedule_month = #{managerSchedule_month}+1
		and managerSchedule_date = #{managerSchedule_date}
	</select>
 	<!-- 등록된 스케줄 일정 해당 날짜의 리스트 호출 -->
 	<select id="searchScheduleList" resultType="ScheduleManagementVo">
		select * from tbl_managerSchedule
		where managerSchedule_year = #{managerSchedule_year}
		and managerSchedule_month = #{managerSchedule_month}+1
		and managerSchedule_date = #{managerSchedule_date}
	</select>
	<update id="checkBoxClick">
		update tbl_managerSchedule set
		managerSchedule_complete =  #{managerSchedule_complete}
		where managerSchedule_year = #{managerSchedule_year}
		and managerSchedule_month = #{managerSchedule_month}
		and managerSchedule_date = #{managerSchedule_date}
		and managerSchedule_no = #{managerSchedule_no}
	</update>
</mapper>