<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.projectMovie01.movie">

	<!-- 영화 조회 -->
	<select id="getMovieList" resultType="MovieVo">
		select * from tbl_movie
		order by movie_num asc
	</select>
	<!-- 영화 수 조회 -->
	<select id="getCountMovie" resultType="int">
		select count(*) from tbl_movie
		<include refid="search"></include>
	</select>
	
	<!-- 영화 목록조회 for 영화스케줄 관리용-->
	<select id="nameListAll" resultType="MovieVo">
		select * from tbl_movie
		order by movie_num asc
	</select>
	<!--  영화 목록 조회-->
	<select id="listAll" resultType="MovieVo">
		select * from (
			select rownum rnum, a.* from (
				select * from tbl_movie 
				<include refid="search"></include>
				order by movie_num desc)
			 a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!--  영화 등록 -->
	<insert id="administerMovieRegistRun">
		insert into tbl_movie
		(movie_code, movie_name, movie_genre, movie_director, movie_actor, movie_open_date, movie_total_time, movie_main_image, movie_regist_date, movie_grade, movie_num, movie_content, movie_count)
		values
		(seq_movie_num.nextval, #{movie_name}, #{movie_genre}, #{movie_director}, #{movie_actor}, #{movie_open_date}, #{movie_total_time}, #{movie_main_image}, sysdate, #{movie_grade}, seq_movie_num.nextval, #{movie_content}, #{movie_count})
	</insert>	

	<!--  영화상세이미지 등록 -->
	<insert id="administerMovieSubImageRegistRun">
		insert into tbl_movie_image(movie_code, movie_sub_image)
		values(#{movie_code}, #{movie_sub_image})
	</insert>

	<!--  영화 상세정보 보기 -->
	<select id="selectByMovie" resultType="MovieVo">
		select * from tbl_movie
		where movie_code = #{movie_code}
	</select>
	
	<!--  영화 상세정보_subImage 가져오기 -->
	<select id="selectByMovieSubImage" resultType="MovieImageVo">
		select * from tbl_movie_image
		where movie_code = #{movie_code}
	</select>
	
	<!-- 영화코드 조회 -->
	<select id="selectMovieCode" resultType="String">
		select * from(select a.*, rownum rnum from(select movie_code  
                from tbl_movie
                order by movie_regist_date desc) a)
		where rnum = 1
	</select>
	
	<!--  영화 수정 -->
	<update id="updateMovie">
		update tbl_movie set 
		    movie_name = #{movie_name},
		    movie_genre = #{movie_genre},
		    movie_director = #{movie_director},
		    movie_actor = #{movie_actor},
		    movie_open_date = #{movie_open_date},
		    movie_total_time = #{movie_total_time},
		    movie_main_image = #{movie_main_image},
		    movie_grade = #{movie_grade},
<!-- 		movie_preview = #{movie_preview}, -->
		    movie_content = #{movie_content},
		    movie_count = #{movie_count}
		where movie_code = #{movie_code}
	</update>
	
	<!--  서브 이미지 삭제 -->
	<delete id="deleteMovieImage">
		delete from tbl_movie_image
		where movie_code = #{movie_code}
	</delete>
	
	<sql id="search">
		<if test="searchType != null">
			<choose>
				<when test="searchType == 'movie_name'">
				where movie_name like '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'movie_genre'">
				where movie_genre like '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'movie_grade'">
				where movie_grade like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
	<!-- 영화 삭제 -->
	<delete id="deleteMovie">
		delete from tbl_movie
		where movie_code = #{movie_code}
	</delete>
<!-- 영화스케줄 등록 페이지 -->	
	<!-- 영화 스케줄페이지 영화 정보엳기 -->
	<select id="getMovieInfo" resultType="MovieVo">
		select * from tbl_movie
		where movie_name = #{movie_name}
	</select>
	<!-- 등록된 마지막 영화 상영시간 -->
	<select id="lastMovieSchedule" resultType="MovieScheduleVo">
		select * from (select * from tbl_MovieSchedule
		where theater_no = #{theater_no}
		order by movieSchedule_registTime desc)
		where rowNum  = 1
	</select>
	<!-- 영화 상영시간 스케줄 등록 -->
	<insert id="insertMoviSchedule">
		insert into tbl_MovieSchedule
		(movieSchedule_recoding, area_theater_no, theater_no, movieSchedule_type, movie_name, movieSchedule_playTime, movieSchedule_totalPlayTime, movieSchedule_seat, movieSchedule_registTime)
		values
		(seq_movieSchedule_recoding.nextval, #{area_theater_no}, #{theater_no}, #{movieSchedule_type}, #{movie_name}, #{movieSchedule_playTime}, #{movieSchedule_totalPlayTime}, #{movieSchedule_seat}, sysdate)
	</insert>
	<!-- 등록할때 마다 해당 영화 회차 카운트업 -->
	<update id="countUp">
		update tbl_movie set
		movie_count = movie_count + 1
		where movie_name = #{movie_name}
	</update>
	<!-- 각관의 영화상영스케줄 리스트 조회할때  -->
	<select id="getMovieScheduleList" resultType="MovieScheduleVo">
		select * from tbl_MovieSchedule 
		where movieSchedule_registTime between to_date(#{movieSchedule_registTime}) and to_date(#{movieSchedule_registTime})+1
		and theater_no = #{theater_no}
		order by movieSchedule_registTime asc
	</select>
	<!-- 티케팅관련 -->
	<select id="getMovieScheduleListTikecting" resultType="MovieScheduleVo">
		select * from tbl_MovieSchedule 
		where movie_name = #{movie_name}
		and TO_CHAR(movieSchedule_registTime, 'YY/MM/DD') = #{movieSchedule_registTime}
	</select>
</mapper>