<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.projectMovie01.noticeMessage">

<insert id="insertMessage">
		insert into tbl_noticeMessage 
			(msg_no, msg_content, msg_sender, msg_receiver)
		values 
			(seq_noticeMessage_no.nextval, #{msg_content}, #{msg_sender}, #{msg_receiver})
	</insert>

	<select id="notReadCount" resultType="int">
		select count(*) from tbl_noticeMessage
		where msg_receiver = #{msg_receiver}
		and msg_opendate is null
	</select>
	
	<select id="messageListNotRead" resultType="NoticeMessageVo">
		select * from tbl_noticeMessage
		where msg_receiver = #{msg_receiver}
		and msg_opendate is null
		order by msg_no desc
	</select>

	<select id="messageListReceive" resultType="NoticeMessageVo">
		select * from tbl_noticeMessage
		where msg_receiver = #{msg_receiver}
		and msg_sender != #{msg_receiver}
		order by msg_no desc
	</select>
	
	<select id="messageListSend" resultType="NoticeMessageVo">
		select * from tbl_noticeMessage
		where msg_sender = #{msg_sender}
		and msg_receiver != #{msg_sender}
		order by msg_no desc
	</select>
	
	<select id="messageListSelf" resultType="NoticeMessageVo">
		select * from tbl_noticeMessage
		where msg_sender = #{msg_sender}
		and msg_receiver = #{msg_receiver}
		order by msg_no desc
	</select>
	
	<update id="updateOpenDate">
		update tbl_noticeMessage set
			msg_opendate = sysdate
		where msg_no = #{msg_no}
	</update>
	
	<select id="messageRead" resultType="NoticeMessageVo">
		select * from tbl_noticeMessage
		where msg_no = #{msg_no}
	</select>
	
	<select id="getOpendate" resultType="java.sql.Timestamp">
		select msg_opendate from tbl_noticeMessage
		where msg_no = #{msg_no}
	</select>
	
	<!-- 쪽지 삭제 -->
	<delete id="deleteMessage">
		delete from tbl_noticeMessage
		where msg_no = #{msg_no}
		and msg_receiver = #{user_id}
	</delete>

<!-- 관리자 쪽지함 -->
	<!--  관리자받은쪽지하 조회-->
	<select id="messageListReceiveAll" resultType="NoticeMessageVo">
		select * from (
			select rownum rnum, a.* from (
				select * from tbl_noticeMessage 
				where msg_receiver = #{msg_receiver}
				and msg_sender != #{msg_receiver}
				order by msg_no desc)
			 a)
		where rnum between #{admin_PageingDto.startRow} and #{admin_PageingDto.endRow}
	</select>
	<select id="messageListSendAll" resultType="NoticeMessageVo">
		select * from (
			select rownum rnum, a.* from (
				select * from tbl_noticeMessage 
				where msg_sender = #{msg_sender}
				and msg_receiver != #{msg_sender}
				order by msg_no desc)
			 a)
		where rnum between #{admin_PageingDto.startRow} and #{admin_PageingDto.endRow}
	</select>
	<select id="messageListSelfAll" resultType="NoticeMessageVo">
		select * from (
			select rownum rnum, a.* from (
				select * from tbl_noticeMessage 
				where msg_sender = #{msg_sender}
				and msg_receiver = #{msg_receiver}
				order by msg_no desc)
			 a)
		where rnum between #{admin_PageingDto.startRow} and #{admin_PageingDto.endRow}
	</select>
	<!-- 관리자 받은 쪽지함 수 조회 -->
	<select id="getCountReceive" resultType="int">
		select count(*) from tbl_noticeMessage
		where msg_receiver = #{msg_receiver}
		and msg_sender != #{msg_receiver}
		order by msg_no desc
	</select>
	<select id="getCountSend" resultType="int">
		select count(*) from tbl_noticeMessage
		where msg_sender = #{msg_sender}
		and msg_receiver != #{msg_sender}
		order by msg_no desc
	</select>
	<select id="getCountSelf" resultType="int">
		select count(*) from tbl_noticeMessage
		where msg_sender = #{msg_receiver}
		and msg_receiver = #{msg_receiver}
		order by msg_no desc
	</select>
</mapper>