<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.projectMovie01.noticeBoard">

	<!-- 게시판목록 -->
	<select id="listAll" resultType="NoticeBoardVo">
		select * from tbl_noticeboard
		order by b_no
	</select>

</mapper>